// Core variables and mixins
@import "variables.less";
@import "./source/assets/vendor/freelancer/less/mixins.less";
@import "freelancer.less";

.link-white {
  color: #2c3e50;
  font-weight: bold;

  &:hover {
    color: black;
  }
}